folders.csx
refreshAssetlist.csx

# Prolong my lifespan
sprites/*/0.png
sprites/*/1.png
sprites/*/2.png
sprites/*/3.png
sprites/*/4.png
sprites/*/5.png
sprites/*/6.png
sprites/*/7.png
sprites/*/8.png
sprites/*/9.png
sprites/*/10.png
sprites/*/11.png
sprites/*/12.png
sprites/*/13.png
sprites/*/15.png
sprites/*/16.png
sprites/*/17.png
sprites/*/18.png
sprites/*/19.png
sprites/*/20.png
sprites/*/21.png
sprites/*/22.png
sprites/*/23.png
sprites/*/24.png
sprites/*/25.png
sprites/*/26.png
sprites/*/27.png
sprites/*/28.png
sprites/*/29.png
sprites/*/30.png
sprites/*/31.png
sprites/*/32.png
sprites/*/33.png
sprites/*/34.png
sprites/*/35.png
sprites/*/36.png
sprites/*/37.png
sprites/*/38.png
sprites/*/39.png
sprites/*/40.png
sprites/*/41.png
sprites/*/42.png
sprites/*/43.png
sprites/*/44.png
sprites/*/45.png
sprites/*/46.png
sprites/*/47.png
sprites/*/48.png
sprites/*/49.png
sprites/*/50.png
sprites/*/60.png
sprites/*/61.png
sprites/*/62.png
sprites/*/63.png
sprites/*/65.png
sprites/*/66.png
sprites/*/67.png
sprites/*/68.png
sprites/*/69.png
sprites/*/60.png
sprites/*/71.png
sprites/*/72.png
sprites/*/73.png
sprites/*/74.png
sprites/*/75.png
sprites/*/76.png
sprites/*/77.png
sprites/*/78.png
sprites/*/79.png
sprites/*/70.png
sprites/*/81.png
sprites/*/82.png
sprites/*/83.png
sprites/*/84.png
sprites/*/85.png
sprites/*/86.png
sprites/*/87.png
sprites/*/88.png
sprites/*/89.png
sprites/*/90.png
sprites/*/91.png
sprites/*/92.png
sprites/*/93.png
sprites/*/94.png
sprites/*/95.png
sprites/*/96.png
sprites/*/97.png
sprites/*/98.png
sprites/*/99.png
sprites/*/100.png
sprites/*/*/*/*.png
!github/**

!sprites/bg_ball4326/*.png
!sprites/bg_tutorial/*.png
# The manually fixed tilesets
!sprites/tile_beachprops1/**
!sprites/tile_beachprops2/**
!sprites/tile_chateaudecorations/**
!sprites/tile_forestprops/**
!sprites/tile_freezerfridge/**
!sprites/tile_spaceprops2/**
!sprites/spr_beachcaverntiles/**
!sprites/spr_collisiontiles/**
!sprites/spr_farmceillingtiles/**
!sprites/spr_farmdecotiles/**
!sprites/spr_forestprops2/**
!sprites/spr_graveyarddeco/**
!sprites/spr_industrialcomplextiles/**
!sprites/spr_mansion2tiles/**
!sprites/spr_medievaldeco2/**
!sprites/spr_peppermanbosstiles/**
!sprites/tile_plains_sprite/**
!sprites/spr_planettiles/**
!sprites/spr_saloonalttiles/**
!sprites/spr_saloonwoodentiles/**
!sprites/spr_sewergraffiti/**
!sprites/spr_shiptiles/**
!sprites/spr_space1tiles/**
!sprites/spr_towerdeserttiles/**
!sprites/spr_towerfloor3tiles/**
!sprites/tile_towerfloor4tiles/**
!sprites/spr_towerfloor5tiles/**
!sprites/spr_tutorialtiles/**
!sprites/spr_waroutsidetiles/**
!sprites/spr_streettiles/**

# Weird exceptions
!sprites/spr_desertdeco/**
!sprites/tile_cavern/**
!sprites/tile_dungeon/**
!sprites/tile_dungeon3/**
!sprites/spr_ruincheese/**
!sprites/spr_ruinend/**
